Cython==3.0.2
fastapi==0.103.1
gdown==4.7.1
moviepy==1.0.3
numpy==1.23.5
Pillow==9.4.0
Pillow==10.0.0
progressbar33==2.4
pycocotools==2.0.7
PyQt5==5.15.9
PyQt5_sip==12.11.0
scipy==1.10.0
segment_anything==1.0
starlette==0.31.1
timm==0.9.7
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
uvicorn==0.23.2
